@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background-color: black;
}

.gallery-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.gallery-slider {
  width: 100vw;
  height: 100vh;
}

.title-container {
  position: absolute;
  height: 20vh;
  top: 0%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  letter-spacing: 0.1em;
  cursor: default;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  transition: opacity 0.3s ease-in-out;
}

.back {
  position: relative;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 15%;
  right: 3%;
  transition: all 0.3s ease-in-out;
}

.back::after {
  position: absolute;
  content: "";
  bottom: 3%;
  left: 15%;
  background-color: white;
  width: 0%;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.back:hover::after {
  width: 85%;
}

.pic-container {
  padding-top: 20vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-bottom: 3em;
  transition: opacity 0.3s ease-in-out;
}

.hide {
  display: none;
}

.pic {
  cursor: pointer;
  max-height: 25vh;
  margin: 1.3em;
  transition: transform 0.2s linear;
}

.pic:hover {
  transform: scale(1.05);
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.slider {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-slider {
  max-height: 85vh;
  max-width: 70vw;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade {
  opacity: 0;
}

.prev {
  transform: rotate(90deg);
}
.next {
  transform: rotate(-90deg);
}

.icon {
  cursor: pointer;
  height: 5vh;
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
}
