@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background-color: black;
}

.gallery-container {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.title-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  cursor: default;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
}

.pic {
  cursor: pointer;
  max-height: 25vh;
  margin: 1em;
}
